ghidra
7_LOGS/nul
DOSBOX DUMPS
nul
archive
.claude/settings.local.json
3_Assembly/tasm/SourcerRunner/bin
3_Assembly/tasm/TasmRunner/.idea
3_Assembly/tasm/TasmRunner/obj
3_Assembly/tasm/TasmRunner/bin
3_Assembly/tasm/SourcerRunner/obj
MONOGAME_AUTHENTIC/.idea
4_Resources/GrpViewer/__pycache__
3_Assembly/cutter/source/.github
3_Assembly/cutter/source/.vscode
3_Assembly/cutter/source/dist
3_Assembly/tasm/SourcerRunner/logs/
3_Assembly/tasm/TasmRunner/logs/
3_Assembly/tasm/logs/
logs/
3_Assembly/tasm/working/**/*.LST
3_Assembly/tasm/working/**/*.OBJ
3_Assembly/tasm/working/**/*.SDF
2_SAR/Tools/__pycache__/
2_SAR/ExtractedChunks/**/*_decomp.bin
3_Assembly/tasm/research/**/*.LST
3_Assembly/tasm/research/**/*.OBJ
3_Assembly/tasm/research/**/*.SDF
venv/
.venv
.env
.pyc
__pycache__
